name: Continuous Integration

on:
  pull_request:
    branches:
      - main
      - dev

permissions:
  contents: read

jobs:
  build:
    name: Build, Lint & Test
    timeout-minutes: 5
    runs-on: ubuntu-latest
    environment: test
    strategy:
      matrix:
        php-version: ['8.3', '8.4', '8.5']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP ${{ matrix.php-version }} with PECL extension 
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Load composer dependencies from cache
        id: composer-cache
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install composer dependencies
        run: composer install --prefer-dist --no-progress --no-interaction --optimize-autoloader

      - name: Check code style
        run: composer run-script lint

      - name: Run tests
        run: composer run-script test

